/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
* {
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
html,
body {
  font-family: 'Roboto', sans-serif;
}
h1,
h2,
h3,
h4,
h5 {
  font-family: 'Oswald', sans-serif;
}
h1 {
  font-size: 4rem;
}
h2 {
  font-size: 3.2rem;
  padding-bottom: 10px;
}
h4 {
  font-size: 2.5rem;
  padding-bottom: 10px;
}
p {
  line-height: 1.5;
  font-size: 1.6rem;
  padding-bottom: 10px;
}
img {
  max-width: 100%;
  height: auto;
}
.home {
  width: 100%;
  margin: 0 auto;
}
.container {
  max-width: 900px;
  margin: 0 auto;
}
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 10px;
  height: 100px;
}
nav .logo {
  letter-spacing: 2px;
}
nav .links {
  width: 30%;
  display: flex;
  justify-content: space-evenly;
  font-size: 2rem;
}
nav .links span {
  font-size: 5rem;
  color: rgba(0, 0, 0, 0.5);
}
nav .links a {
  text-decoration: none;
  color: black;
  padding: 5px;
  line-height: 50px;
  border-radius: 6px;
  vertical-align: middle;
}
nav .links a:hover {
  text-decoration: underline;
}
.main {
  margin: 0 auto;
}
.main .banner {
  background-image: linear-gradient(rgba(36, 64, 104, 0.4), rgba(36, 64, 104, 0.4)), url('../img/banner.gif');
  background-size: cover;
  background-position: -220px 0;
  height: 400px;
}
.main .banner .banner-text {
  text-align: center;
  transform: translateY(50%);
  line-height: 60px;
  color: white;
}
.main .banner .banner-text button {
  text-decoration: none;
  color: white;
  background: rgba(0, 0, 0, 0.4);
  width: 20%;
  border: 1px solid black;
  padding: 7px;
  font-size: 2rem;
}
.main .banner .banner-text button:hover {
  transition: all 0.3s linear;
  transform: translateY(-2px);
  box-shadow: 0 0 2px 0 rgba(46, 62, 72, 0.52), 0 2px 4px 0 rgba(46, 62, 72, 0.52);
}
.main .popular {
  margin: 50px auto;
}
.main .carousel {
  width: 100%;
  height: 400px;
  display: flex;
  justify-content: space-between;
  align-items: stretch;
}
.main .carousel .card {
  border: 2px solid black;
  border-radius: 6px;
  width: 30%;
  margin: 20px 0;
  display: flex;
  flex-direction: column;
  text-decoration: none;
  color: black;
}
.main .carousel .card:hover {
  transition: all 0.3s linear;
  transform: translateY(-2px);
  box-shadow: 0 0 2px 0 rgba(46, 62, 72, 0.52), 0 2px 4px 0 rgba(46, 62, 72, 0.52);
  cursor: pointer;
}
.main .carousel .card .top {
  flex: 0 0 50%;
  background-image: url('https://source.unsplash.com/1600x900/?fitness');
  background-size: cover;
}
.main .carousel .card .bottom {
  padding: 5px;
}
.main .howitworks {
  background: black;
  color: white;
  margin: 70px auto;
  height: 400px;
}
.main .howitworks .cards {
  height: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.main .howitworks .cards .card {
  display: flex;
}
.main .howitworks .cards .card i {
  font-size: 3rem;
  margin: 0 10px;
  color: deepskyblue;
}
.main .howitworks .cards .card a {
  text-decoration: none;
  color: deepskyblue;
  font-size: 2rem;
}
.main .howitworks .cards .card a:hover {
  text-shadow: 1px 1px rgba(175, 235, 255, 0.87);
}
