.main {
    margin: 0 auto;

    .banner {
        background-image: linear-gradient(rgba(36, 64, 104, 0.4), rgba(36, 64, 104, 0.4)), url('../img/banner.gif');
        background-size: cover;
        height: 400px;
        .banner-text {
            text-align: center;
            transform: translateY(50%);
            line-height: 60px;
            color: white;
            button {
                .button;
            }
        }
    }
}