.home {
  opacity: 0;
  transition: opacity 2000ms linear;
  overflow-x: hidden;
}

.main {
  margin: 0 auto;

  .banner {
    background-image: linear-gradient(
        rgba(36, 64, 104, 0.4),
        rgba(36, 64, 104, 0.4)
      ),
      url("../img/banner.gif");
    background-size: cover;
    background-position: -220px 0;
    height: 400px;
    .banner-text {
      text-align: center;
      transform: translateY(50%);
      line-height: 60px;
      color: white;
      button {
        .button;
      }
    }
  } //banner

  .popular {
    margin: 50px auto;
    @media @tablet {
      max-width: 94vw;
    }
    .popular-text {
      transition: all 2s;
      transform: translateX(200%);
    }
  }

  .carousel {
    width: 100%;
    height: 400px;
    position: relative;
    .cards {
      display: flex;
      justify-content: space-between;
      align-items: stretch;
      height: 100%;
      width: 100%;
    }
    .card .bottom {
      padding: 5px;
    }
    .card .top {
      flex: 0 0 50%;
    }
    .one .top {
      background-image: url("https://source.unsplash.com/1600x900/?fitness");
    }
    .two .top {
      background-image: url("https://source.unsplash.com/1600x900/?yoga");
    }
    .three .top {
      background-image: url("https://source.unsplash.com/1600x900/?hiking");
    }
    .four .top {
      background-image: url("https://source.unsplash.com/1600x900/?beach");
    }
    .five .top {
      background-image: url("https://source.unsplash.com/1600x900/?running");
    }
    @media @tablet {
      .card .bottom {
        color: white;
        padding-left: 6%;
      }
      .one {
        background-image: linear-gradient(
            rgba(36, 64, 104, 0.4),
            rgba(36, 64, 104, 0.4)
          ),
          url("https://source.unsplash.com/1600x900/?fitness");
        .top {
          background-image: none;
        }
      }
      .two {
        background-image: linear-gradient(
            rgba(36, 64, 104, 0.4),
            rgba(36, 64, 104, 0.4)
          ),
          url("https://source.unsplash.com/1600x900/?yoga");
        .top {
          background-image: none;
        }
      }
      .three {
        background-image: linear-gradient(
            rgba(36, 64, 104, 0.4),
            rgba(36, 64, 104, 0.4)
          ),
          url("https://source.unsplash.com/1600x900/?hiking");
        .top {
          background-image: none;
        }
      }
      .four {
        background-image: linear-gradient(
            rgba(36, 64, 104, 0.4),
            rgba(36, 64, 104, 0.4)
          ),
          url("https://source.unsplash.com/1600x900/?beach");
        .top {
          background-image: none;
        }
      }
      .five {
        background-image: linear-gradient(
            rgba(36, 64, 104, 0.4),
            rgba(36, 64, 104, 0.4)
          ),
          url("https://source.unsplash.com/1600x900/?running");
        .top {
          background-image: none;
        }
      }
    }

    .left-button {
      position: absolute;
      top: 47%;
      left: -50px;
      padding: 10px;
      border: 1px solid black;
      border-radius: 50%;
      background: rgba(0, 0, 0, 0.3);
      height: 40px;
      width: 40px;
      text-align: center;

      &:hover {
        color: white;
        background: black;
        cursor: pointer;
        @media @desktop {
          .pop;
        }
      }
    }
    .right-button {
      position: absolute;
      cursor: pointer;
      top: 47%;
      right: -50px;
      padding: 10px;
      border: 1px solid black;
      border-radius: 50%;
      background: rgba(0, 0, 0, 0.3);
      height: 40px;
      width: 40px;
      text-align: center;

      &:hover {
        color: white;
        background: black;
        @media @desktop {
          .pop;
        }
      }
    }
    @media @tablet {
      .left-button {
        left: 0;
        height: 360px;
        top: 0;
        border-radius: 6px;
        margin: 20px 0;
        padding: 0;
        display: flex;
        align-items: center;
        justify-content: center;
      }
      .right-button {
        right: 0;
        height: 360px;
        top: 0;
        border-radius: 6px;
        margin: 20px 0;
        padding: 0;
        display: flex;
        align-items: center;
        justify-content: center;
      }
    }

    .card {
      border: 2px solid black;
      border-radius: 6px;
      width: 30%;
      margin: 20px 0;
      display: none;
      flex-direction: column;
      text-decoration: none;
      color: black;

      &:hover {
        @media @desktop {
          .pop;
        }
        cursor: pointer;
      }

      .top {
        flex: 0 0 50%;
        background-size: cover;
      }
      @media @tablet {
        width: 100%;
      }
    }
  } // carousel

  .howitworks {
    background: black;
    color: white;
    margin: 70px auto;
    height: 400px;

    .cards {
      height: 100%;
      display: flex;
      justify-content: space-around;
      align-items: center;
      .card {
        display: flex;
        i {
          font-size: 3rem;
          margin: 0 10px;
          color: deepskyblue;
        }

        a {
          text-decoration: none;
          color: deepskyblue;
          font-size: 2rem;
          &:hover {
            text-shadow: 1px 1px rgba(175, 235, 255, 0.87);
          }
        }
      }
    }
  }
}
