.pop() {
  transition: all 0.3s linear;
  transform: translateY(-2px);
  box-shadow: 0 0 2px 0 rgba(46, 62, 72, 0.52),
    0 2px 4px 0 rgba(46, 62, 72, 0.52);
}

.button() {
  text-decoration: none;
  color: white;
  background: rgba(0, 0, 0, 0.4);
  width: 20%;
  border: 1px solid black;
  padding: 7px;
  font-size: 2rem;
  &:hover {
    .pop;
  }

  @media @mobile {
    width: 40%;
  }
}

.full-opacity {
  opacity: 1;
}
